<h1>Log in to your account.</h1>

<div class="form">
	<form action="/profile" method="POST">
		<div class="inputdiv" id="username">
			<label for="username">Username: </label>
			<input type="text" name="username" placeholder="Your username"/>
		</div>
		<div class="inputdiv" id="password">
			<label for="password">Password: </label>
			<input type="text" name="password" placeholder="Your password"/>
		</div>
		<div class="submit">
			<input id="button" type="submit" value="Log in!"/>
		</div>
	</form>
</div>
