<h1>Log in to your account</h1>

<div class="form">
	<form action="/loggin" method="POST">
		<input type="text" name="username" placeholder="Your username"/>
		<input type="text" name="password" placeholder="Your password"/>
		<input type="submit" value="Log in!"/>
	</form>
</div>
