<div class="header">
	<h1 class="welcome">Welcome home!</h1>
</div>

<div class="profile">
	{{#each userdata}}
		<img src={{this.url}} alt="" height="200px" width="200px">
		<h1>Hi, {{this.username}}!</h1>
		<div class="about">
			<p>{{this.about}}</p>
		</div>
	{{/each}}
</div>
