<h1>Register for your account</h1>

<div class="form">
	<form action="/users" method="POST">
		<input type="text" name="username" placeholder="Your username"/>
		<input type="text" name="password" placeholder="Your password"/>
		<input type="submit" value="Sign up!"/>
	</form>
</div>
